@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch&family=Lexend&family=Pixelify+Sans&family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Chakra Petch', sans-serif;
    color: red;
    background-image: url(/assets/gameover.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

#audioButton {
    position: absolute;
    top: 10px;
    left: 10px;
}

#stopAudioButton {
    position: absolute;
    top: 35px;
    left: 10px;
}

h1 {
    font-size: 80px;
    text-align: center;
    padding-top: 20px;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-bottom: 340px; /* Remove margin to place h1 at the top of the window */
}

.play {
    text-align: center;
}

#playAgain {
    font-size: 25px;
}

@keyframes blink {
    0%{color: red;}
    50%{color: white;}
    100%{color: red;}
}
